<div class="navbar">
  <a href="/" class="nav-brand">TestimonialApp</a>
  <div class="nav-links">
    <a href="/" class="nav-link">Submit</a>
    <a href="/testimonials" class="nav-link">All Testimonials</a>
  </div>
</div>
